.layer {
    position:absolute;
}

.banner{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.banner .atropos{
    height: 100%;
    width: 100%;
}

.banner .atropos-inner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-item {
    z-index: 10; /* on top */
    max-height: 100%;
    max-width: 80%;
}

.bg1 {
    z-index: 2;
    height: 100%;
    width: 100%;
}

.bg1-vertical{
    z-index: 2;
    height: 100%;
    width: 150%;
}

.bg2 {
    z-index: 11;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.brandLogo {
    z-index: 11;
    height: 20%;
    width: 15%;
    position: absolute;
    top: 15px;
    right: 15px;
}

.brandLogo-vertical{
    z-index: 11;
    height: 40%;
    width: 60%;
    position: absolute;
    top: 0;
}